
@media (min-width: 740px) {

    /* body, header, footer {
        max-width: 870px;
    } */
    body {

        /* padding-left: 400px; */
       /*  padding-right: 400px; */
        display: grid;
        justify-content : center;
        align-items: center;

    }
    .container {
        min-width: 800px;
        display : grid;
        grid-template-columns: 2fr 1fr; 
        gap : 20px;
        justify-content: center;
        max-width : 940px;
        margin-bottom: 20px;

    }
    
    .card-3 {
        grid-column: span 2; 

    }
    

    .card {
        border : black solid 1px;
        border-radius: 8px;
        background-color: rgba(181, 234, 255, 0.158);
        margin: 20px;
        margin-left: 0;
        margin-right: 0;
        }
    
    .card h2 {
        text-align : center;
        background-color : rgb(43, 91, 180);
        border-top-right-radius : 7px;
        border-top-left-radius : 7px;
        padding : 10px;
        color : #FFFFFF;
        }
    
    .card-content {
        padding: 20px;
        text-align: justify;
    }
    
    .card ul {
        margin : 20px;
        padding: 40px 40px 40px 40px;
        }
        
    .card ul li {
        margin : 8px 0;
        width: 100%;
        }

    

    .card-content h3 {
        text-align : center;
        padding-bottom: 10px;
        
    }
    .card-content p {
        padding: 20px;
        padding-bottom: 30px;
    }

    .card h2, .card-3 h2 {
        padding-left: 50px;
        padding-right: 50px;
    }

    .navigation {
        list-style: none;
        display: flex;
        align-items: center;
        background-color: #000;
    }
    
    .navigation li {
        flex: 1 1 auto;
    }
    
    .navigation a {
        display: block;
        color: #eee;
        padding: 0.75rem;
        text-decoration: none;
        text-align: center;
    }
    
    .navigation a:hover {
    
        text-decoration: underline;
    }
    
    .navigation a:visited {
        color: yellow;
    }
    
    #menu {
        display: none;

    }

    .course-buttons button {
        padding: 8px 70px;
        margin: 5px;
        cursor: pointer;
        background-color: #004085;
        color: #fff;
        border: none;
        border-radius: 5px;
        font-size: 1rem;
        font-weight: bold;

      }

      .course-buttons {
        display: flex;
        justify-content: center;
        margin-bottom: 20px;
      }

      .course-card h3 {
        padding: 0;
      }

      .course-buttons button::selection {
        background-color: #003567;
      }

      #course-list {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        gap: 10px;

      }

      .course-card {
        margin: 0;
      }

      p#total-credits {

        padding-bottom: 0;
      }

      .header {
        display: flex;
        justify-content: center;
        align-items: center;
      }

      header h1 {
        font-size: 2.3rem;
      }

}